.header-sec-box-content p {
  font-size: 2.3rem;
}

@media (min-width: 576px) {
  .header-sec-box-content p {
    font-size: 2.7rem;
  }
}

@media (min-width: 768px) {
  .header-sec-box-content p {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  .header-sec-box-content p {
    font-size: 4.5rem;
  }
}

@media (min-width: 1200px) {
  .header-sec-box-content p {
    font-size: 4.3rem;
    line-height: 5.4rem;
  }
}
