

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  min-width: 500px;
  font-size: 2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Tervezési segítség, késöbb törlöm */
header, div, section, footer {
  outline: 1px solid black;
}

img {
  width: 200px;
}

.header-nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-text {
  text-decoration: none;
  margin: 1rem;
  color: black;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header-menu__li {
  margin: 0 30px 0 ;
  list-style: none;
}
