*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --header-background-color: #060c10;
  --color-green: #39b54a;
  --color-white: #ffffff;
  --color-gray: rgb(188 192 195 / 83%);
}

/* ------------------ */
/* Általános stílusok */
/* ------------------ */

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

/* ------ */
/* HEADER */
/* ------ */

.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--header-background-color);
  padding-bottom: 3rem;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
}

.logo a {
  font-weight: 700;
  letter-spacing: -0.1rem;
  color: var(--color-white);
}

.logo span {
  color: var(--color-green);
}

/* Hamburger menü */

#menu__toggle {
  visibility: hidden;
}

.hamburger-menu {
  min-height: 61px;
}

.hamburger-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--header-background-color);
  position: fixed;
  top: 3.1rem;
  right: 3.5rem;
  width: 44px;
  height: 44px;
  cursor: pointer;
  z-index: 100;
  padding-right: 10px;
}

.hamburger-button__title {
  visibility: hidden;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
  display: block;
  position: absolute;
  width: 25px;
  height: 1.5px;
  background-color: var(--color-white);
}

.hamburger-lines::before {
  content: "";
  top: -0.9rem;
}

.hamburger-lines::after {
  content: "";
  top: 0.9rem;
}

.menu__box {
  display: block;
  position: fixed;
  padding: 62px 25px 0 45px;
  width: 250px;
  background-color: var(--header-background-color);
  top: 0;
  right: 0;
  height: 100%;
  letter-spacing: 1px;
  visibility: hidden;
  z-index: 10;

  right: -250px;
  transition-duration: 0.6s;
}

.menu-box__title {
  visibility: hidden;
  color: var(--color-green);
  font-size: 1.3rem;
  font-weight: 600;
  position: fixed;
  top: 51px;
  right: 72px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.menu-box__title:hover {
  color: var(--color-white);
  cursor: pointer;
}

.menu__item:first-child {
  margin-top: 70px;
}

.menu-box__social li a i:hover {
  color: var(--color-white);
}

.menu-item__links {
  display: block;
  margin: 20px 0;
  color: var(--color-white);
}

.menu-item__links:last-child {
  margin-bottom: 0;
}

.menu-item__links:hover {
  text-shadow: 2px 2px 6px #fff;
}

.menu-item__links a {
  font-size: 1.8rem;
  color: var(--color-white);
}

.menu__box p {
  color: var(--color-gray);
  font-size: 1.3rem;
  padding: 50px 0;
  line-height: 2.5rem;
}

.menu-box__social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.menu-box__social li a {
  color: var(--color-gray);
  margin-right: 15px;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-button__title {
  visibility: hidden;
}

#menu__toggle:checked ~ .hamburger-button .menu-box__title {
  visibility: visible;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-button-title__box {
  visibility: hidden;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines {
  transform: rotate(45deg);
  width: 20px;
  left: 11px;
  top: 24px;
  box-shadow: 0px 0px 3px white;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines:before {
  display: none;
}

#menu__toggle:checked ~ .hamburger-button .hamburger-lines:after {
  top: 0;
  transform: rotate(90deg);
  width: 20px;
  box-shadow: 0px 0px 3px white;
}

.header-sec-box {
  text-align: center;
}

.header-sec-box h2 {
  font-size: 1.6rem;
  color: var(--color-gray);
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 0.3rem;
}

.header-sec-box-content p {
  color: var(--color-white);
  font-size: 3.3rem;
  line-height: 4rem;
  font-weight: 600;
  max-width: 85%;
  margin: 0 auto;
}

.header-btn {
  display: block;
  border: 1px solid var(--color-white);
  max-width: 300px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: transparent;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 1.2rem;
}

.btn-rolam {
  margin-top: 6rem;
}

.btn-kontakt {
  margin: 15px auto 30px;
}

.header-btn:hover {
  color: var(--header-background-color);
  background-color: var(--color-white);
}

.header-list {
  display: none;
}

/* ROLAM SECTION */

.rolam-section {
  background: rgb(57, 181, 74);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rolam-content h2,
.rolam-content h3 {
  max-width: 280px;
  margin: 0 auto;
}

.rolam-content h2 {
  color: var(--header-background-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.rolam-content h3 {
  font-size: 3.5rem;
  color: var(--color-white);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.rolam-content p {
  max-width: 80%;
  margin: 0 auto;
  line-height: 3.7rem;
}

.line {
  width: 220px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.325);
  display: inline-block;
  margin: 30px 0;
}

.line-color {
  width: 220px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 20px 0;
}

/* REFERENCIÁK */

.ref-section {
  text-align: center;
}
.ref-content {
  max-width: 280px;
  margin: 0 auto;
}

.ref-content h2 {
  color: var(--color-green);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 80px;
}

.ref-content p {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: var(--header-background-color);
  letter-spacing: 1px;
  margin-top: 3px;
}

.ref-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto 10rem;
}

.project-container {
  max-width: 90%;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.project-container:hover {
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}

.project-container img {
  width: 80%;
  margin-top: 4rem;
}

.project-container h3 {
  width: 80%;
  margin: 2rem auto;
  color: var(--header-background-color);
  font-size: 2.5rem;
}

.project-container p {
  color: grey;
  font-size: 1.5rem;
  line-height: 23px;
  text-shadow: 0 0 1px var(--color-gray);
  width: 85%;
  margin: 0 auto 2rem;
}

/* TAPASZTALAT */

.tech-heading {
  width: 100%;
  height: 750px;
  background-color: var(--header-background-color);
}

.tech-section {
  text-align: center;
  position: relative;
}

.tech-content {
  max-width: 280px;
  margin: 0 auto;
}

.tech-heading h2 {
  color: var(--color-green);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 80px;
}

.tech-heading p {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-white);
  letter-spacing: 1px;
  text-align: center;
  margin-top: 3px;
  max-width: 250px;
}
.empty-container {
  height: 1290px;
}

.tech-container {
  position: absolute;
  top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 85%;
  margin: auto;
}

.item p {
  letter-spacing: 1px;
}

.item_1,
.item_2 h3 {
  color: var(--color-white);
}

.item img {
  width: 150px;
  margin: 20px 0;
}

/* KAPCSOLAT */

.contact-container {
  background-color: #1a1a1a;
  text-align: center;
}

.contact-container h2 {
  color: var(--color-green);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 80px;
  text-align: center;
}

.contact-container p {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-white);
  letter-spacing: 2px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 30px;
  max-width: 280px;
}

/* ÜRLAP */

.kapcsolat-section {
  background-color: #1a1a1a;
}

.form {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.form h2 {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 30px 30px;
  text-align: center;
}

.form-box {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-gray);
  outline: none;
  width: 100%;
  margin: 25px 0;
}

.form-box:focus {
  border-bottom: 1px solid var(--color-green);
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

.form-container textarea {
  min-height: 20rem;
  resize: none;
}

.form-container input {
  padding-bottom: 20px;
}

.form-container button {
  display: block;
  border: none;
  background-color: var(--color-green);
  width: 100%;
  padding: 2rem;
  margin-bottom: 5rem;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
}

.form-container button:hover {
  background-color: rgb(57, 181, 74, 0.8);
}
.contact-info {
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.place-info {
  margin-bottom: 3rem;
}

.contact-info h4 {
  display: none;
}

.contact-info h5 {
  color: #39b54a;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.contact-info p {
  color: var(--color-gray);
  font-size: 1.4rem;
  line-height: 1.6;
}

.info-lists {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.info-links > i {
  color: var(--color-white);
  margin: 0px 15px;
}

.info-links > i:hover {
  color: var(--color-green);
}

/* FOOTER */

.footer-container {
  position: relative;
  text-align: center;
  background-color: var(--header-background-color);
}

.footer-logo {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.footer-logo a {
  font-weight: 700;
  letter-spacing: -0.1rem;
  color: var(--color-green);
}
.footer-logo a span {
  color: var(--color-white);
}

.footer-container p {
  color: var(--color-gray);
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding-bottom: 56px;
}

/* FEL GOMB */

.fa-solid {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 44px;
  height: 44px;
  background: var(--header-background-color);
  color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid:hover {
  color: var(--color-white);
}

/* MEDIA QUERY */

@media (min-width: 375px) {
  .empty-container {
    height: 1215px;
  }
}

@media (min-width: 425px) {
  .empty-container {
    height: 1170px;
  }
}

@media (min-width: 576px) {
  .header-sec-box {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
  }

  .header-sec-box h2 {
    text-align: left;
  }

  .header-sec-box-content {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-sec-box-content p {
    font-size: 3.6rem;
    line-height: 4.3rem;
    margin: 0;
    max-width: 80%;
  }

  .header-btn {
    max-width: 31.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
    margin: 0;
  }

  .btn-rolam {
    margin: 6rem 0 1.5rem;
  }

  .header-list {
    display: flex;
    flex-direction: column;
  }

  .header-list a {
    color: #fff;
  }

  .header-list li:nth-child(2) {
    margin: 3rem 0;
  }

  .header-list li a i:hover {
    color: var(--color-green);
  }

  .rolam-content h2 {
    font-size: 2rem;
    line-height: 4rem;
  }

  .rolam-content h3 {
    font-size: 5.5rem;
    max-width: 30rem;
  }

  .rolam-content p {
    line-height: 3.9rem;
    font-size: 2.2rem;
  }

  .empty-container {
    height: 1100px;
  }

  .project-container {
    max-width: 450px;
  }

  .tech-content {
    max-width: 360px;
    margin: 0 auto;
  }

  .form-container {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .hamburger-button__title {
    visibility: visible;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: var(--color-green);
  }

  .hamburger-button__title:hover {
    color: var(--color-white);
    cursor: pointer;
  }

  .hamburger-button-title__box {
    position: fixed;
    top: 3.1rem;
    right: 7.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 7rem;
    height: 4.4rem;
    background-color: var(--header-background-color);
  }

  .header-sec-box {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 4rem 0 auto;
  }

  .header-sec-box-content p {
    font-size: 4rem;
    line-height: 4.9rem;
  }

  .btn-flex {
    width: 50rem;
    text-align: left;
  }

  .header-btn {
    display: inline-block;
    width: 215px;
    margin-right: 1rem;
  }

  .header-list li {
    border: 2px solid var(--color-green);
    border-radius: 50%;
    line-height: 0;
    padding: 0.7rem;
  }

  .ref-content h2 {
    font-size: 1.8rem;
  }

  .ref-content p {
    font-size: 4rem;
  }

  .project-container h3 {
    font-size: 3rem;
    text-align: left;
  }

  .project-container p {
    font-size: 1.7rem;
    text-align: left;
    width: 80%;
  }

  .tech-heading {
    height: 845px;
  }

  .tech-heading h2 {
    font-size: 1.8rem;
  }

  .tech-heading p {
    font-size: 4rem;
    max-width: 350px;
  }

  .tech-container {
    top: 340px;
    display: flex;
    flex-flow: row wrap;
  }

  .tech-container span {
    display: none;
  }

  .item {
    width: 330px;
  }

  .item_2 p {
    color: #fff;
  }

  .item_3 h3,
  .item_4 h3 {
    color: #fff;
    padding-top: 60px;
  }

  .item_5 h3 {
    padding-top: 60px;
  }

  .empty-container {
    height: 545px;
  }

  .contact-container h2 {
    font-size: 1.8rem;
  }

  .contact-container p {
    font-size: 4rem;
    max-width: 510px;
  }

  .kapcsolat-section {
    padding-bottom: 10rem;
  }

  .form {
    width: 90%;
    margin: 0 auto;
  }

  .form-container {
    width: 60%;
  }

  .contact-info {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }

  .place-info {
    margin: 0 auto 3rem auto;
    width: 60%;
  }
  .email-info {
    margin: 0 auto 3rem auto;
    width: 60%;
  }

  .info-lists {
    justify-content: flex-start;
    width: 60%;
    margin: 0 auto;
  }

  .info-links > i {
    margin: 0 3rem 0 0;
  }
}

@media (min-width: 992px) {
  .header-sec-box-content p {
    font-size: 4.6rem;
    line-height: 6rem;
  }

  .ref-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .project-container {
    height: 35rem;
  }

  .project-container h3 {
    font-size: 2.3rem;
    text-align: left;
  }

  .project-container p {
    font-size: 1.4rem;
    text-align: left;
    width: 80%;
  }

  .tech-container {
    top: 318px;
  }

  .tech-heading {
    height: 695px;
  }

  .item {
    height: 320px;
  }

  .item_4 {
    margin-left: 17%;
  }

  .item_5 {
    margin-right: 17%;
  }

  .item_3 h3 {
    padding-top: 0;
  }

  .item_3 p {
    color: #fff;
  }

  .item_4 h3 {
    color: #060c10;
  }

  .item_4 h3,
  .item_5 h3 {
    padding-top: 10rem;
  }

  .empty-container {
    height: 43rem;
  }

  .form-container {
    width: 75%;
    margin: 0 auto;
  }

  .place-info {
    width: 75%;
  }

  .email-info {
    width: 75%;
  }

  .info-lists {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .header-sec-box-content p {
    font-size: 5.5rem;
    line-height: 7rem;
  }

  .form h2 {
    text-align: left;
    padding: 6rem 0 5rem;
  }

  .contact-flexbox {
    display: flex;
    width: 80%;
    margin: 3rem auto 0;
  }

  .contact-info {
    max-width: 32rem;
    padding: 0;
    background-color: var(--header-background-color);
  }

  .contact-info h4 {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6rem 0 5rem;
    margin: 0 auto 3rem auto;
    width: 75%;
  }
}

@media (min-width: 1440px) {
  .rolam-content h3 {
    font-size: 5.5rem;
    max-width: 62rem;
  }

  .rolam-content p {
    line-height: 4.5rem;
    font-size: 2.5rem;
    max-width: 53%;
  }

  .line {
    width: 43rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.325);
    display: inline-block;
    margin: 5rem 0;
  }
}

@media (min-width: 1600px) {
  .item {
    min-width: 500px;
  }

  .contact-flexbox {
    width: 55%;
  }
}
